alabaster==0.7.11
amqp==2.3.2
anyjson==0.3.3
argon2-cffi==18.1.0
arrow==0.12.1
asn1crypto==0.24.0
Babel==2.6.0
beautifulsoup4==4.6.1
billiard==3.5.0.4
binaryornot==0.4.4
celery==4.2.1
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
click==6.7
compose-format==1.2.0
cookiecutter==1.6.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.3.1
dj-database-url==0.5.0
Django==2.0.8
django-anymail==3.0
django-cors-headers==2.4.0
django-debug-toolbar==1.9.1
django-docs==0.3.0
django-extensions==2.1.0
django-filter==2.0.0
django-picklefield==1.0.0
django-positions==0.6.0
django-ratelimit==1.1.0
django-redis==4.9.0
django-rest-knox==3.1.5
django-su==0.6.0
djangorestframework==3.8.2
djangorestframework-camel-case==1.0b1
djangorestframework-filters==0.10.2
djangorestframework-queryfields==1.0.0
dns-lexicon==2.7.0
docker==3.5.0
docker-auto-labels==0.2.2
docker-pycreds==0.3.0
docutils==0.14
drf-yasg==1.10.1.dev12+g824baf7
flex==6.13.2
future==0.16.0
idna==2.7
imagesize==1.0.0
inflection==0.3.1
itypes==1.1.0
Jinja2==2.10
jinja2-time==0.2.0
jsonpointer==1.14
jsonschema==2.6.0
kombu==4.2.1
Markdown==2.6.11
MarkupSafe==1.0
packaging==17.1
Pillow==5.2.0
poyo==0.4.1
psycopg2==2.7.5
pycparser==2.18
Pygments==2.2.0
PyNamecheap==0.0.3
pyOpenSSL==18.0.0
pyparsing==2.2.0
python-dateutil==2.7.3
python-decouple==3.1
pytz==2018.5
PyYAML==3.13
raven==6.9.0
redis==2.10.6
requests==2.19.1
requests-file==1.4.3
rfc3987==1.3.8
ruamel.yaml==0.15.56
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.6
sphinx-rtd-theme==0.4.1
sphinxcontrib-websupport==1.1.0
sqlparse==0.2.4
strict-rfc3339==0.7
swagger-spec-validator==2.3.1
tldextract==2.2.0
tqdm==4.24.0
uritemplate==3.0.0
urllib3==1.23
uWSGI==2.0.17
validate-email==1.3
vine==1.1.4
websocket-client==0.49.0
Werkzeug==0.14.1
whichcraft==0.4.1
