{% extends 'base.html' %}
{% load timestamp_formatting pagination bbcode %}

{% block title %}{{ thread }}{% endblock %}

{% block main %}
    <div class="page-header">
      <h1>{{ thread }}</h1>
    </div>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" />
    </form>

    <div class="col-sm-8">
      <div class="list-group">
        {% for post in posts %}
          <a id="{{ post.id }}"></a>
          <div class="list-group-item">
            <h5 class="list-group-item-heading">
              <a href="{{ post.author.get_absolute_url }}">{{ post.author.username }}</a>
              <a href="#{{ post.id }}">{{ post.created_at|timestamp }}</a>
              <span class="pull-right"><a href="{% url 'forum_post_delete' post_id=post.id %}">x</a></span>
            </h5>
            <p class="list-group-item-text">{{ post.body|bbcode }}</p>
          </div>
        {% endfor %}
      </div>
    </div>

    {% pagination posts %}
{% endblock %}
