# The below environment variables are needed for decouple. If you do not want to include one of them, remove them from the backend.
# this specific environment file is only if you want to test production, or if you are not using docker.
# Make sure to rename this file ".env
"
ALLOWED_HOSTS=
BANDIT_EMAIL=
CELERY_ALWAYS_EAGER=True
CORS_ORIGIN_ALLOW_ALL=True

# Initially the database must be postgres. you have to change it in the container if you want the DB to be different.

DATABASE_URL=postgres://postgres:postgres@postgres:5432/postgres
DEBUG=True
DEFAULT_FROM_EMAIL=
DEFAULT_REPLY_TO_EMAIL=
EMAIL_USE_TLS=True
EMAIL_PORT=587
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
HOST_DOMAIN=localhost
HOST=localhost
INTERNAL_IPS=10.0.0.2, 127.0.0.1
MYSQLDB_NAME=
MYSQL_USER=
MYSQL_PWD=
MYSQL_HOST=
MYSQL_PORT=3306
OLD_SITE_HASH=
PRODUCTION=False
REDIS_URL=redis://redis:6379
RT_API_KEY=
SECRET_KEY=changeme
SITE_NAME=jumpcut
SITE_URL=https://api.pinigseu.xyz
TESTING_DATABASE_URL=postgres://postgres:postgres@postgres:5432/postgres
TEST_RUNNER=jumpcut.tests.CustomTestSuiteRunner
TESTING_WSGI_APPLICATION=jumpcut.www_wsgi.application
TRACKER_URL=https://tracker.pinigseu.xyz



