Django[argon2]==2.0.7
Markdown==2.6.11
Pillow==5.1.0
Pygments==2.2.0
Sphinx==1.7.5
Werkzeug==0.14.1
anyjson==0.3.3
amqp==2.3.2
beautifulsoup4==4.6.0
billiard==3.5.0.3
celery==4.1.1
cffi==1.11.5
coreschema==0.0.4
coreapi==2.3.3
dj-database-url==0.5.0
django-anymail[mailgun]==3.0
django-cors-headers==2.2.0
django-debug-toolbar==1.9.1
django-extensions==2.0.7
django-filter==2.0.0
django-picklefield==1.0.0
django-positions==0.6.0
django-ratelimit==1.1.0
django-redis==4.9.0
django-rest-knox==3.1.4
django-su==0.6.0
djangorestframework==3.8.2
djangorestframework-camel-case==1.0b1
djangorestframework-filters
drf-yasg[validation]==1.9.1
kombu==4.2.1.0
psycopg2==2.7.5 --no-binary psycopg2; sys_platform == 'linux'
psycopg2-binary; sys_platform == 'win'
pycparser==2.18
python-decouple==3.1
pytz==2018.4
raven==6.9.0
redis==2.10.6
requests==2.18.4
six==1.11.0
sphinx_rtd_theme==0.3.0
sqlparse==0.2.4
tqdm==4.23.4
uWSGI==2.0.17; sys_platform == 'linux'
