{% extends 'base.html' %}
{% load timestamp_formatting pagination %}

{% block title %}Torrent Stats{% endblock %}

{% block main %}
    <div class="page-header">
      <h1>Torrent Stats</h1>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Torrent</th>
          <th>Uploaded</th>
          <th>Downloaded</th>
          <th>Ratio</th>
          <th>Seed Time</th>
          <th>Seed Time Remaining</th>
          <th>Last Seeded</th>
          <th>H&R</th>
        </tr>
      </thead>
      {% for ts in torrent_stats %}
        <tr>
          <td><a href="{{ ts.torrent.get_absolute_url }}">{{ ts.torrent.film }}</a></td>
          <td>{{ ts.bytes_uploaded }}</td>
          <td>{{ ts.bytes_downloaded }}</td>
          <td>{{ ts.ratio }}</td>
          <td>{{ ts.seed_time|duration }}</td>
          <td>{{ ts.seed_time_remaining|duration }}</td>
          <td>{{ ts.last_seeded }}</td>
          <td>{{ ts.is_hit_and_run }}</td>
        </tr>
      {% endfor %}
    </table>

    {% pagination torrent_stats %}
{% endblock %}
