<!DOCTYPE html>{% load static %}
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Phoenix</title>

    <!-- https://www.bootstrapcdn.com/bootswatch/ -->
    <script type="text/javascript">
        var defaultTheme = window['__defaultTheme'] = 'https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css';
        var url = (typeof localStorage !== 'undefined' && localStorage['app.theme.url']) || defaultTheme;
        var link = document.createElement('link');
        link.href = url;
        link.type = 'text/css';
        link.rel = 'stylesheet';
        link.media = 'screen,print';
        link.id = 'theme';
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>

    <!-- Dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.3.2/umd/react.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.3.2/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/redux/3.7.2/redux.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.32.1/react-bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/f6e7af6507.css">
</head>

<body>
    <div id="index" style="overflow: hidden"></div>

    <!-- Main -->
    <script src="{% static '/app/dist/bundle.js' %}"></script>
</body>
</html>