{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block main %}

  {% if request.limited %}

    <div class="page-header">
      <h1>Slow your roll!</h1>
    </div>
    <p>Too many login attempts in a short time period is suspicious, so we've locked you
    out for a bit.  Go watch a movie, then give it another try. :)</p>

  {% else %}

    <div align="center">
    <br/>
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}
    <br/>
    {{ form.password.label_tag }}
    {{ form.password }}
    <br/>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
    </div>

  {% endif %}

{% endblock %}
