{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block main %}
    <div class="page-header">
      <h1>Register a New Account</h1>
    </div>

    <form method="post">
        {% csrf_token %}

        <p>{{ form.non_field_errors }}</p>

        <p>{{ form.username.label_tag }} ({{ form.username.help_text }})</p>
        <p>{{ form.username.errors }}</p>
        <p>{{ form.username }}</p>

        <hr/>

        <p>{{ form.password1.label_tag }} {{ form.password1.help_text }}</p>
        <p>{{ form.password1.errors }}</p>
        <p>{{ form.password1 }}</p>

        <p>{{ form.password2.label_tag }} ({{ form.password2.help_text }})</p>
        <p>{{ form.password2.errors }}</p>
        <p>{{ form.password2 }}</p>

        <hr/>

        <p><input type="submit" value="Register" /></p>
    </form>
{% endblock %}
