{% extends 'base.html' %}

{% load timestamp_formatting bbcode staticfiles %}

{% block title %}User Profile{% endblock %}

{% block main %}
    <div class="page-header">
      {% if user.avatar_url %}
        <img src="{{ user.avatar_url }}" width="150" />
      {% else %}
        <img src="{% static 'www/default_avatar.png' %}" width="150" />
      {% endif %}
      <h1>{{ user.username }} ({{ user.user_class }})</h1>
      {% if user.custom_title %}
        <h6>{{ user.custom_title }}</h6>
      {% endif %}
    </div>

    <ul>
      <li>Joined: {{ user.date_joined|timestamp }}</li>
      <li>Last Seen: {{ user.last_seen|timestamp }}</li>
      <li>Seeding Size: {{ user.seeding_size|filesizeformat }}</li>
      <li>Uploaded: {{ user.bytes_uploaded|filesizeformat }}</li>
      <li>Downloaded: {{ user.bytes_downloaded|filesizeformat }}</li>
      <li>Ratio: {{ user.ratio }}</li>
      <li>Invites: {{ user.invite_count }}</li>
      <li>Requests: {{ user.torrent_requests.count }}</li>
      <li>Film comments: {{ user.filmcomments.count }}</li>
      <li>Forum posts: {{ user.forum_posts.count }}</li>
    </ul>

    {% if user.profile_description %}
      <div class="well">
        {{ user.profile_description|bbcode }}
      </div>
    {% endif %}
    <div>
      <h3>Recent Snatches</h3>
      {% for torrent in user.recent_snatches %}
        <img src="{{ torrent.film.poster_url }}" width="150">
      {% endfor %}
      <p>
        <a href="{% url 'torrent_stats' username=user.username %}">View all snatches</a>
      </p>
    </div>
    {% if user.is_staff %}
      <div>
        <h3>Staff Notes</h3>
        <pre>{{ user.staff_notes }}</pre>
      </div>
    {% endif %}
{% endblock %}
